.article-description {
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.god-article {
  border-radius: 8px;
  border: 2px solid var(--color-blue);
  background: var(--color-white);
  overflow: hidden;
}

.pantheon-name {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 10px;
}

.pantheon {
  color: var(--color-dark-grey);
  font-family: var(--font-bubbler);
  font-size: 20px;
}

.god-type {
  color: var(--color-dark-grey);
  font-family: var(--font-bubbler);
  font-size: 16px;
}

.god-name-blue {
  padding: 8px 12px;
  background: var(--color-white);
  max-width: fit-content;
}

.save {
  width: 24px;
  height: 24px;
  position: absolute;
}

.god-name-blue {
  color: var(--color-blue);
  font-family: var(--font-caesar);
  font-size: 20px;
  position: absolute;
}

.god-image {
  width: 100%;
}

.article-image {
  display: flex;
}
